/*
* Base Style
*/
body {
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}

label, input, textarea, select, button {
  cursor: pointer;
}

button {
  border: 0;
}

/*
* section
*/
.section {
  padding: 30px 15px;
}

.section .section-headline {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 40px;
}

.section .section-button {
  margin-top: 40px;
  text-align: center;
}

.section-secoundary {
  background: #efefef;
}

/*
* .select, .input .radio .textarea
*/
.select {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}

.input {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}

.radio {
  margin: 0 10px;
}

.textarea {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
  min-height: 100px;
}

/*
* Button
*/
.button {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background-color: #333;
  text-align: center;
  padding: 15px 60px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 0 #bbb;
          box-shadow: 5px 5px 0 #bbb;
  -webkit-transition: -webkit-box-shadow 0 0.5s;
  transition: -webkit-box-shadow 0 0.5s;
  transition: box-shadow 0 0.5s;
  transition: box-shadow 0 0.5s, -webkit-box-shadow 0 0.5s;
}

.button.button-submission {
  background: #92d3ca;
}

.button:hover {
  -webkit-box-shadow: 0 0 0 #bbb;
          box-shadow: 0 0 0 #bbb;
}

/*
* grid
*/
.grid {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-item {
  list-style: none;
}

.grid-col-2 .grid-item {
  width: 50%;
}

.grid-col-3 .grid-item {
  width: 33%;
}

.grid-col-4 .grid-item {
  width: 25%;
  padding: 0 15px;
}

/*
hero
*/
/* hero */
.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero strong {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 120px;
  color: #fff;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
}

.hero video {
  position: absolute;
  z-index: 1;
  width: auto;
  height: 130%;
}

.hero .hero-particles {
  position: absolute;
  z-index: 2;
  width: auto;
  height: 130%;
}

/*
* About
*/
.about {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about-caption {
  padding-left: 32px;
}

.about .about-headline {
  font-size: 32px;
  margin: 0 0 20px;
}

/*
* feature
*/
.feature {
  text-align: center;
}

.feature .feature-headline {
  font-weight: bold;
  margin: 0 0 20px;
}

.feature .feature-img {
  margin: 0 0 20px;
}

/*
* card
*/
.card {
  padding: 0 10px;
}

.card-link {
  display: block;
  color: #333;
  text-decoration: none;
  position: relative;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.card-link:hover {
  background-color: #eee;
}

.card-label {
  position: absolute;
  background-color: #999;
  color: #fff;
  display: block;
  padding: 5px 10px;
  font-size: 12px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-info {
  padding: 5px 10px;
}

.card-headline {
  margin: 0;
}

.card-description {
  margin: 0;
}

/*
* avator
*/
.avator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 10px;
}

.avator-name {
  font-weight: bold;
  padding-left: 15px;
}

.avator-image {
  margin: 0;
  border-radius: 50%;
  overflow: hidden;
}

/*
* form
*/
.form-table {
  margin: 0 auto;
}

.form-table th {
  padding: 10px;
  text-align: left;
}

.form-table td {
  padding: 10px;
}

.form-button {
  text-align: center;
  margin: 16px;
}

/*
Works
*/
.works {
  margin: 40px 0;
  padding: 20px;
  text-align: center;
}

.works img {
  margin: 0 15px;
}

/*
Footer
*/
.footer {
  background-color: #333;
  color: #fff;
}

.footer .footer-map {
  margin: 0;
  padding: 40px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-map iframe {
  width: 60%;
}

.footer .footer-map .footer-mapinfo {
  width: 40%;
  padding: 15px;
}

.footer .footer-map .footer-mapinfo .footer-maplogo {
  font-size: 25px;
  font-weight: bold;
}

.footer .footer-map .footer-mapinfo .footer-maplogo svg {
  fill: transparent;
  margin-right: 10px;
}

.footer .footer-map .footer-mapinfo .footer-mapaddress {
  font-style: normal;
}

.footer .footer-map .footer-mapinfo .footer-mapaddress a {
  color: #fff;
}

.footer .footer-line {
  border-color: #444;
}

.footer .footer-copy {
  display: block;
  text-align: center;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */